{% extends "base.html" %}

{% block content %}
<h1 style="color:white;margin-top:4%;">Welcome to Fitnest</h1>

<img id="homeImage",
     src="{{url_for('static', filename='images/Weight_Lifting_Barbell.png')}}",
     alt="barbell">

<div id="homeDesc">
    <p style="color:white;">
        Fitnest provides new gym-goers comfortability when going to the gym.
        Going to the gym can be overwhelming for new gym-goers, and we're here to help!
    </p>
    <button style="margin-top:5%;width:35%;padding:5px;border:none;border-radius:10px;font-size:100%;text-align:center;">
        <a href="/aboutus">About Us</a>
    </button>
</div>
{% endblock %}


