{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{url_for('static',filename='main.js')}}"></script>
<script src="https://kit.fontawesome.com/996973c893.js"></script>
{% endblock %}

{% block content %}
    <div class="watch">
    <div class="time">
        00:00:00
    </div>
    <div class="controls">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
    </div>
    </div>

{% endblock %}
